@Styles.Render("~/Content/Services.css")

<title>
    Services | TheNorthernHandyman
</title>

@*<div class="container">
    <div class="jumbotron">
        <h1 class="text-primary text-center"> Services we Provide?</h1>
    </div>
    
    

 <!-- Services -->
<div class="services block block-bg-gradient block-border-bottom">
    <div class="container">
        <h1 class="block-title">
            Our Services
        </h1>
        <div class="row">
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="glyphicon glyphicon-tree-deciduous" style="color:white;"></i>
                </span>
                <h2 class="text-weight-strong">
                    Landscape Maintenance
                </h2>
                Lawn Mowing
                Seasonal Cleanups
                Pruning of shrubs and trees
                 
                <h3 class="text-muted">  Retaining Walls</h3>
                <h3 class="text-muted">  Fire Pits</h3>
                <h3 class="text-muted">  Decorative Patios & Walkways</h3>
                <h3 class="text-muted">  Decorative Mulch & Stone</h3>
                <h3 class="text-muted">   Lawn Repair</h3>
                
                <p>
                    <a href=@Url.Action("Landscape_Lawncare_Index","Home") class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>





                f you’ve done business with us, we value your feedback so leave your review!


                Landscape Design/Build

                Landscape Design Services
                Brick Paver Walkways
                Bluestone or Brick Paver Patios
                Retaining Walls


                Landscape Materials – For Delivery*
                Sand


                services list for both landscape maintenance and landscape construction. If you need it done, but don’t see it – ask us!

                Seasonal Grounds Management

                Weekly Lawn Mowing
                Lawn Care
                Weeding
                Tree and Shrub Care
                Spring and Fall Cleanups
                Irrigation Maintenance
                Snowplowing
                De-Icing Services
                Snow Removal and Hauling
                Parking Lot Sweeping
                Pressure Washing

                Construction Services

                Landscape Materials Delivery
                Trucking/Hauling
                Excavation
                Site Work and Drainage
                Walkway Construction
                Retaining Wall Installation
                Debris Disposal
                Fence Installation- temporary and permanent
                Dig Safe

                Design/Build

                Landscape Plans – Site Layout and Elevations
                Tree and Shrub Planting/Transplanting
                Large Tree Installations
                Seasonal Color
                Irrigation Design, Installation and Repair
                Lawn Grading/Seeding/Sod
                Granite Accents
                Signage



            </div>
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <img src="~/img/Filler_ExtraImages/Dump truck Circle Image.png">
                </span>
                <h2 class="text-weight-strong">
                    Equipment
                </h2>
                
                <h3 class="text-muted"> 10K 14ft.Dump trailer. </h3>
                <h3 class="text-muted"> 14K 18ft.Car hauler trailer with winch. </h3>
                <h3 class="text-muted"> 84″ skid steer snow blowing & 8′ bucket. </h3>
                <h3 class="text-muted">V bottom salter. </h3>
                    
                <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="glyphicon glyphicon-leaf" style="color:white;"></i>
                </span>
                <h2 class="text-weight-strong">
                    Mowing &amp; Lawn Care
                </h2>
                    <h3 class="text-muted">Mowing</h3>
                    <h3 class="text-muted">Shrub Trimming</h3>
                    <h3 class="text-muted">Spring & Fall Cleanup</h3>
                    <h3 class="text-muted">Plant Bed Maintenance</h3>
                    <h3 class="text-muted">Weed whacking. </h3>
                    <h3 class="text-muted">Leaf removal. </h3>
                <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <img src="~/img/Filler_ExtraImages/SkidSteer2.jpg">
                </span>
                <h2 class="text-weight-strong">
                    Skid Steer Work
                </h2>
               
                <h3 class="text-muted">Snow blowing &plowing. </h3>
                <h3 class="text-muted">Parking Lot sweeping. </h3>
                <h3 class="text-muted">Brush & rock removal. </h3>
                <h3 class="text-muted">Drive way reconstruction.</h3>
                <h3 class="text-muted">Landscaping. </h3>
 
                <p>
                    <a href=@Url.Action("Landscape_Lawncare_Index","Home") class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <img src="~/img/Filler_ExtraImages/Snow Flake Circle Image.png">
                </span>
                <h2 class="text-weight-strong">
                    Snow Removal
                </h2>
                
                <h3 class="text-muted"> Public and Private roads</h3>
                <h3 class="text-muted">  Snow Plowing,blowing. </h3>
                <h3 class="text-muted">   Snow Shoveling.</h3>
                <h3 class="text-muted">  Sanding and salting</h3>
                <h3 class="text-muted">  Parking lots and walkways</h3>
                <h3 class="text-muted">  Driveways and sidewalks</h3>


                <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <span class="fa-stack fa-5x">
                    <img src="~/img/Filler_ExtraImages/ChainSaw Circle Image.png">
                </span>
                <h2 class="text-weight-strong">
                    Tree Removal
                </h2>
                <h3 class="text-muted"> Trimming. </h3>
                <h3 class="text-muted">  Stump grinding & Clean up. </h3>
                <h3 class="text-muted"> Storm damage repair/removal.</h3>
                <h3 class="text-muted"> Brush removal and chipping. </h3>
                <h3 class="text-muted">   Small & Large trees. </h3>
                
                <p>
                    <a href="#" class="btn btn-more i-right">Learn More <i class="fa fa-angle-right"></i></a>
                </p>
            </div>
        </div>
    </div>
</div>*@
<!-- Portfolio Grid Section( Used For Services) -->

    <section id="portfolio">
        <!--Container-->
        <div class="block block-bg-gradient">
            <div class="container">

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br />
                        <br />
                        <h1>Services</h1>

                        <h3 class="section-subheading text-muted"
                            style="margin-bottom: 15px;">
                            Residential & Commercial Services<br />
                            With +30yrs. of Experience
                        </h3>
                        
                      

                    </div>
                </div>
                <!-- /Row -->
                <!-- Row -->
                <div class="row">
                       <!-- Portfolio Modal 6 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal6"
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    
                                </div>
                            </div>
                        </a>

                        <!--Equipment Content-->
                        <div class="portfolio-caption">
                            <h4 class="text-weight-strong">Equipment Avail.</h4>

                            <p class="text-muted">
                                -10K 14ft.Dump Trailer.<br />
                                -14K 18ft.Car Hauler Trailer w/ Winch.<br />
                                -84″ Skid Steer Snow-Blower & 8′ Bucket. <br />
                                -V Bottom Salter.<br />
                            </p>

                        </div>
                        <!--/Equipment Content-->
                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 6 -->
                    <!-- Portfolio Modal 1 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Photos", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x" img src="~/img/Filler_ExtraImages/SkidSteer2.jpg"></i>

                                </div>
                            </div>


                            <!--Skid Steer Content-->
                            <div class="portfolio-caption">

                                <h4>Skid Steer Work</h4>
                                <p class="text-muted">
                                    Landscaping. <br />
                                    Drive-Way Reconstruction.<br />
                                    Parking Lot Sweeping. <br />
                                    Brush / Rock Removal. <br />
                                    Snow Blowing / Plowing. <br />
                                </p>
                            </div>
                        </a>
                        <!--Skid Steer Content-->
                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 1 -->
                    <!-- Portfolio Modal 2 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Tree_Stump_Removal_Index", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>

                            <!--Tree Removal Content-->
                            <div class="portfolio-caption">
                                <h4>Tree Removal</h4>
                                <p class="text-muted">
                                    Small & Large Trees.<br />
                                    Trimming. <br />
                                    Brush removal / Chipping. <br />
                                    Stump grinding & Clean up. <br />
                                    Storm Damage Repair / Removal.<br />
                                    
                                     
                                   
                                </p>

                            </div>
                        </a>
                        <!--/Tree Removal Content-->


                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 2 -->
                    <!-- Portfolio Modal 3 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Landscape_Lawncare_Index", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>

                            <!--Landscaping Content-->
                            <div class="portfolio-caption">
                                <h4>Landscape Maintenance</h4>
                                <p class="text-muted">
                                    Weed Whacking. <br />
                                    Seasonal Cleanups<br />
                                    Pruning of Shrubs and Trees<br />
                                    Hedge/Bush Trimming<br />
                                    Brush Pile Removal<br />
                                    Leaf Cleanups (Weekly, Bi-Weekly, One Time)<br />
                                    Mowing/Lawn Service (Weekly, Bi-Weekly, One Time)<br />
                                </p>
                            </div>
                        </a>

                        
                        <!--/Landscaping Content-->
                 
                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 3 -->
                    <!-- Portfolio Modal 5 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Landscape_Lawncare_Index", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>

                            <!--Landscaping Content-->
                            <div class="portfolio-caption">
                                <h4>Landscape Design/Build</h4>
                                <p class="text-muted">
                                    Landscape Design Services<br />
                                    Retaining Walls<br />
                                    Fire Pits<br />
                                    Brick Paver Walkways<br />
                                    Brick Paver Patios<br />
                                    Lawn Repair<br />
                                </p>
                            </div>
                        </a>
                        <!--/Landscaping Content-->
                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 5 -->
                    <!-- Portfolio Modal 4 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Winter_Services_Index", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>


                            <!--Snow Removal Content-->
                            <div class="portfolio-caption">
                                <h4>Snow Removal</h4>
                                <p class="text-muted">

                                    Public and Private Roads<br />
                                    Snow Plowing,Blowing. <br />
                                    Snow Shoveling.<br />
                                    Sanding and Salting<br />
                                    Parking lots and Walkways<br />
                                    Driveways and Sidewalks<br />

                                </p>
                            </div>
                        </a>
                        <!--/Snow Removal Content-->

                      



                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 4 -->
                   
                 

                </div>
                <!-- /Row -->
                <!--Pager Buttons-->
                <ul class="pager">
                    <li><a id="ServicePager" href='@Url.Action("About", "Home")'>&larr; Previous</a></li>
                    <li><a id="ServicePager" href='@Url.Action("Contact", "Home")'>Next &rarr;</a></li>
                </ul>
                <!--/Pager Buttons-->
                <!--Facebook Comment Box-->
                <div class="fb-comments"
                     data-href="http://localhost:55522/Home/Services"
                     data-numposts="5"
                     data-width="800px">
                </div>
                <!--/Facebook Comment Box-->

            </div>
            <!--/Container-->
        </div>
    </section>
    