@Styles.Render("~/Content/Services.css")

<title>
    Services | TheNorthernHandyman
</title>

<!-- Portfolio Grid Section( Used For Services) -->

    <section id="portfolio">
        <!--Container-->
        <div class="block block-bg-gradient">
            <div class="container">

                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <br />
                        <br />
                        <h1>Services</h1>

                        <h3 class="section-subheading text-muted"
                            style="margin-bottom: 15px;">
                            Residential & Commercial Services<br />
                            With +30yrs. of Experience
                        </h3>
                       
                    </div>
                </div>
                <!-- /Row -->
                <!-- Row -->
                <div class="row">
                       <!-- Portfolio Modal 6 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href="#portfolioModal6"
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    
                                </div>
                            </div>
                        </a>

                        <!--Equipment Content-->
                        <div class="portfolio-caption">
                            <h4 class="text-weight-strong">Equipment Avail.</h4>

                            <p class="text-muted">
                                -10K 14ft.Dump Trailer.<br />
                                -14K 18ft.Car Hauler Trailer w/ Winch.<br />
                                -84″ Skid Steer Snow-Blower & 8′ Bucket. <br />
                                -V Bottom Salter.<br />
                            </p>

                        </div>
                        <!--/Equipment Content-->
                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 6 -->
                    <!-- Portfolio Modal 1 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("SkidSteerWork00", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x" img src="~/img/Filler_ExtraImages/SkidSteer2.jpg"></i>

                                </div>
                            </div>


                            <!--Skid Steer Content-->
                            <div class="portfolio-caption">

                                <h4>Skid Steer Work</h4>
                                <p class="text-muted">
                                    Landscaping. <br />
                                    Drive-Way Reconstruction.<br />
                                    Parking Lot Sweeping. <br />
                                    Brush / Rock Removal. <br />
                                    Snow Blowing / Plowing. <br />
                                </p>
                            </div>
                        </a>
                        <!--Skid Steer Content-->
                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 1 -->
                    <!-- Portfolio Modal 2 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Tree_Stump_Removal_Index", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>

                            <!--Tree Removal Content-->
                            <div class="portfolio-caption">
                                <h4>Tree Removal</h4>
                                <p class="text-muted">
                                    Trimming. <br />
                                    Small & Large Trees.<br />
                                    Lot Clearing <br />
                                    Brush removal / Chipping. <br />
                                    Stump grinding & Clean up. <br />
                                    Storm Damage Repair / Removal.<br />
                                    
                                     
                                   
                                </p>

                            </div>
                        </a>
                        <!--/Tree Removal Content-->


                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 2 -->
                    <!-- Portfolio Modal 3 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Landscape_Lawncare_Index", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>

                            <!--Landscaping Content-->
                            <div class="portfolio-caption">
                                <h4>Landscape Maintenance</h4>
                                <p class="text-muted">
                                    Weed Whacking. <br />
                                    Seasonal Cleanups<br />
                                    Pruning of Shrubs and Trees<br />
                                    Hedge/Bush Trimming<br />
                                    Brush Pile Removal<br />
                                    Leaf Cleanups (Weekly, Bi-Weekly, One Time)<br />
                                    Mowing/Lawn Service (Weekly, Bi-Weekly, One Time)<br />
                                </p>
                            </div>
                        </a>

                        
                        <!--/Landscaping Content-->
                 
                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 3 -->
                    <!-- Portfolio Modal 5 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Landscape_Lawncare_Index", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>00

                            <!--Landscaping Content-->
                            <div class="portfolio-caption">
                                <h4>Landscape Design/Build</h4>
                                <p class="text-muted">
                                    <a href="@Url.Action("Landscape_Lawncare_Index", "Home", new { @carouselId = 2 })" > Landscape Design Services </a> <br />
                                    Retaining Walls<br />
                                    Fire Pits<br />
                                    Brick Paver Walkways<br />
                                    Brick Paver Patios<br />
                                    Lawn Repair<br />
                                </p>
                            </div>
                        </a>
                        <!--/Landscaping Content-->
                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 5 -->
                    <!-- Portfolio Modal 4 -->
                    <div class="col-md-4 col-sm-6 portfolio-item">
                        <a href='@Url.Action("Winter_Services_Index", "Home")'
                           class="portfolio-link"
                           data-toggle="modal">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>


                            <!--Snow Removal Content-->
                            <div class="portfolio-caption">
                                <h4>Snow Removal</h4>
                                <p class="text-muted">

                                    Public and Private Roads<br />
                                    Snow Plowing,Blowing. <br />
                                    Snow Shoveling.<br />
                                    Sanding and Salting<br />
                                    Parking lots and Walkways<br />
                                    Driveways and Sidewalks<br />

                                </p>
                            </div>
                        </a>
                        <!--/Snow Removal Content-->

                        <!--/col-md-4 col-sm-6-->
                    </div>
                    <!-- /Portfolio Modal 4 -->
                   
                 

                </div>
                <!-- /Row -->
              
                <!--Facebook Comment Box-->
                <div class="fb-comments"
                     data-href="http://localhost:55522/Home/Services"
                     data-numposts="5"
                     data-width="800px">
                </div>
                <!--/Facebook Comment Box-->

            </div>
            <!--/Container-->
        </div>
    </section>
    